<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/home.css">
</head>

<body>
    <div class="title">
        <h1>Welcome to the HomePage</h1>
        <h2>好きな曲をみんなで楽しもう</h2>
    </div>

    <%- include('nav.ejs') %>



</body>

</html>