<div class="nav">
    <a class="logo">J-POP Forum</a>
    <a href="/list">
        <button>Song List</button>
    </a>
    <a href="/add">
        <button>Song Add</button>
    </a>
    <a href="/popular">
        <button>popular</button>
    </a>
    <a href="/list/page">
        <button>paginate</button>
    </a>
</div>