<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>曲検索</title>
</head>
<%- include nav.ejs %>

    <body>

    </body>

</html>